shangwang.sh
*.so
*.bin
*.o
bazel*/
tensorflow/
resources/
*.swp
*.json
eigen-eigen/
bin/
*.pb
*.pyc
loss_result/
state_result/
*.sln
*.vcxproj
*.filters
.vs/
Debug/
test/
*.log
*.sh
word2vec_basic.py